*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family: Arial, sans-serif;
        }

        body{
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
            background:linear-gradient(to right, #e8eb3f, #00fe61);
        }

        .login-container{
            width:500px;
            background:white;
            padding:30px;
            border-radius:20px;
            box-shadow:0 4px 15px rgba(0, 0, 0, 0.2);
        }

        .login-container h2{
            text-align:center;
            margin-bottom:25px;
            color:#333;
        }

        .input-group{
            margin-bottom:18px;
        }

        .input-group label{
            display:block;
            margin-bottom:6px;
            font-weight:bold;
            color:#555;
        }

        .input-group input{
            width:100%;
            padding:12px;
            border:1px solid #ccc;
            border-radius:6px;
            font-size:16px;
        }

        .input-group input:focus{
            border-color:#4facfe;
            outline:none;
        }

        .login-btn{
            width:100%;
            padding:12px;
            background:#125894;
            color:white;
            border:none;
            border-radius:6px;
            font-size:16px;
            cursor:pointer;
            transition:0.3s;
            text-align: center;
            margin-right: 900px;
        }

        .login-btn:hover{
            color: #333;
            background:#008cff;
        }
        #lf{
            color: royalblue;
            text-decoration: underline;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: white;
        }